{% for profile in socialMedia.socialMedia.all() %}
    {% set linkTitle = profile.profileUrl.label(true) ?? profile.platform.label %}

    <a href="{{ profile.profileUrl.value }}" title="{{ linkTitle }}">
        <svg class="social-icon">
            <use href="{{ craft.vite.asset('/images/icons-public.svg') }}#social-{{ profile.platform }}"></use>
        </svg>
        <span class="sr-only">{{ linkTitle }}</span>
    </a>
{% endfor %}
