{% set width = block.blockWidth|default('12') %}

<div class="md:col-span-{{ width }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% for accordionItem in block.accordionWrapper.all() %}
        {# using border instead of divide because divide only adds between and at the end, not on the first item #}
        <details class="first:border-t border-b border-gray-600 hover:bg-zinc-200">
            <summary class="flex items-center-safe gap-4 w-full p-4">
                <svg class="details-plus w-5 h-5">
                    <use xlink:href="/images/icons-public.svg#plus"></use>
                </svg>
                <svg class="details-minus w-5 h-5">
                    <use xlink:href="/images/icons-public.svg#minus"></use>
                </svg>
                <span class="font-headings font-bold">{{ accordionItem.heading }}</span>

                {% set icon = accordionItem.accordionIcon.one() %}
                {% if icon %}
                    {# ml-auto pushed the icon to the right side #}
                    {{ image(icon, 'accordionIcon', { class: 'ml-auto w-8 h-8' }) }}
                {% endif %}
            </summary>

            {# mx-9 aligns with the summary text above & adds the same space on the other side #}
            <div class="mx-13 mb-8">{{ accordionItem.textBlock }}</div>
        </details>
    {% endfor %}
</div>
