{% set width = block.blockWidth|default('12') %}

<div class="col-span-12 md:col-span-{{ width }} my-8"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% for accordionItem in block.accordionWrapper.all() %}
        <details class="details">
            <summary class="accordion-summary">
                <span class="flex items-center gap-2">
                    <span class="details-plus">
                        <svg class="w-5 h-5">
                            <use xlink:href="{{ craft.vite.asset("/images/icons-public.svg") }}#plus"></use>
                        </svg>
                    </span>
                    <span class="details-minus">
                        <svg class="w-5 h-5">
                            <use xlink:href="{{ craft.vite.asset("/images/icons-public.svg") }}#minus"></use>
                        </svg>
                    </span>
                    <span class="ml-12 font-headings text-3xl font-bold uppercase">{{ accordionItem.heading }}</span>
                </span>
            </summary>
            {% if accordionItem.textBlock %}
                <div class="details-content">{{ accordionItem.textBlock }}</div>
            {% endif %}
        </details>
    {% endfor %}
</div>
