{% import '_includes/_bg_style_block.twig' as style %}

{% set heading = block.heading|heading_striptags %}
{% set textBlock = block.textBlock %}

{{ style.bg_style_block(block.bannerImage.one(), 'banner', 'banner--', block.id) }}

<div class="banner banner--{{ block.id }} {{ block.classes }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% if heading or textBlock %}
        <div class="flex flex-col justify-center items-center h-full bg-black-transparent text-center">
            <div class="relative">
                {% if heading %}
                    <h1 class="banner-heading">{{ heading }}</h1>
                {% endif %}
                {% if textBlock %}
                    <div class="banner-text">{{ textBlock }}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
