<div class="col-span-12" {% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <div class="cards-wrap pt-36 z-0">
        {% for cardItem in block.cards.all() %}
            <a href="{{ cardItem.cardLink }}" class="relative card">
                {% for item in cardItem.card.all() %}
                    {% if item.type.handle == 'cardImage' %}
                        {% set image = item.image[0] %}
                        {% if image %}
                            {{ image(image, 'card', { class: 'card-image' }) }}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for item in cardItem.card.all() %}
                    {% if item.type.handle == 'cardHeading' %}
                        <h3 class="uppercase">{{ item.heading }}</h3>
                    {% endif %}
                {% endfor %}
                {% for item in cardItem.card.all() %}
                    {% if item.type.handle == 'cardTextBlock' %}
                        {{ item.textBlock }}
                    {% endif %}
                {% endfor %}
            </a>
        {% endfor %}
    </div>
</div>
