<div class="col-span-12"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <div class="cards-wrap pt-36 z-0">
        {% for cardItem in block.cards.all() %}
            <a href="{{ cardItem.cardLink }}" class="relative card">
                {% set image = cardItem.image.one() %}
                {% if image %}
                    {{ image(image, 'card') }}
                {% endif %}

                <h3>{{ cardItem.heading }}</h3>

                {{ cardItem.textBlock }}
            </a>
        {% endfor %}
    </div>
</div>
