{% set successUrl = craft.app.request.url ~ '#form--' ~ block.id %}

<div id="form--{{ block.id }}" class="{{ blockWidth(block) }} {{ block.classes }}"
    {% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% if block.heading %}
        <h2>{{ block.heading | heading_striptags }}</h2>
    {% endif %}
    {% if block.intro %}
        <div class="w-content-copy">{{ block.intro }}</div>
    {% endif %}

    {% set successMessage = block.successMessage | heading_striptags | default('Thank you for reaching out. We\'ll be in contact within 3 business days.') %}
    {% set failMessage = block.errorMessage | heading_striptags | default('Looks like something isn\'t quite right. Please try again.') %}

    <div class="flex flex-col justify-center md:justify-start">
        <form method="post"
              action="{{ successUrl }}"
              accept-charset="utf-8"
              class="form-wrap"
              data-ajax-form
              data-success-message="{{ successMessage }}"
              data-fail-message="{{ failMessage }}">

            {% include '_includes/_form_messages.twig' with { classes: 'mb-4' } only %}

            {{ csrfInput() }}
            {{ actionInput('contact-form/send') }}
            {{ redirectInput(successUrl) }}

            {{ successMessageInput(successMessage) }}
            {{ failMessageInput(failMessage) }}

            <div class="field-wrap">
                <label for="from-name">Name</label>
                {{ input('text', 'fromName', null, {
                    id: 'from-name',
                    autocomplete: 'name',
                    maxlength: 100,
                    required: true,
                }) }}
            </div>

            <div class="field-wrap">
                <label for="from-email">Email</label>
                {{ input('text', 'fromEmail', null, {
                    id: 'from-email',
                    autocomplete: 'email',
                    maxlength: 100,
                    required: true,
                    placeholder: 'Required – you@example.com',
                }) }}
            </div>

            <div class="field-wrap hidden">
                <label for="repeat-email">Repeat your email</label>
                {{ input('email', 'repeatEmail', null, {
                    id: 'repeat-email',
                    autocomplete: 'email',
                    maxlength: 100,
                }) }}
            </div>

            <div class="field-wrap">
                <label for="phone">Phone</label>
                {{ input('tel', 'message[Phone]', null, {
                    id: 'phone',
                    autocomplete: 'tel',
                    maxlength: 15,
                    placeholder: 'Optional – 780-222-3333',
                }) }}
            </div>

            <div class="field-wrap field-wrap-textarea">
                <label for="message">Message</label>
                <textarea id="message" name="message[body]" required maxlength="10000" class="h-48"></textarea>
            </div>

            {% if entry is defined and entry %}
                <input type="hidden" name="message[Page Name]" value="{{ entry.title }}">
            {% endif %}
            <input type="hidden" name="message[Page URL]" value="{{ craft.app.request.absoluteUrl }}">
            <input type="hidden" name="message[formName]" value="Contact">

            <div class="mt-6 text-center">
                <button class="button" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</div>
