{% import '_includes/_bg_style_block.twig' as style %}

{{ style.bg_style_block(block.heroImage.one(), 'hero', 'hero--', block.id) }}

<section class="hero hero--{{ block.id }}">
    <div class="flex justify-center items-center w-full h-full bg-white-transparent">
        <div class="text-center">
            <h1>{{ block.heading|heading_striptags }}</h1>
            {% if block.heroSubheading %}
                <h2>{{ block.heroSubheading|heading_striptags  }}</h2>
            {% endif %}

            {% if block.heroButton %}
                <a href="{{ block.heroButton.value }}" class="button">
                    {{ block.heroButton.label }}
                </a>
            {% endif %}
        </div>
    </div>
</section>
