{% set image = block.image.one() %}
{% switch block.imageSize %}
    {% case 'large' %}
        {% set imageTransform = 'neocolumnimagelarge' %}
    {% case 'medium' %}
        {% set imageTransform = 'neocolumnimagemedium' %}
    {% default %}
        {% set imageTransform = 'neocolumnimagesmall' %}
{% endswitch %}
{% switch block.imageAlign %}
    {% case 'left' %}
        {# tw: justify-start #}
        {% set flexJustify = 'start' %}
    {% case 'right' %}
        {# tw: justify-end #}
        {% set flexJustify = 'end' %}
    {% default %}
        {# tw: justify-center #}
        {% set flexJustify = 'center' %}
{% endswitch %}
{# tw: items-start, items-end, items-center #}
{% set flexItems = block.imageVerticalAlignment|default('center') %}

{% set elementId = null %}
{% if block.elementId %}
    {% set elementId = block.elementId %}
{% endif %}


{% set width = block.blockWidth|default('100') %}

<div class="block-image_wrap lg:justify-{{ flexJustify }} items-{{ flexItems }} col-{{ width }}"
    {% if elementId %} id="{{ elementId }}"{% endif %}>
    <figure>
        {% if block.imageLink %}
        <a href="{{ block.imageLink }}">
        {% endif %}
            {{ image(image, imageTransform) }}
        {% if block.imageLink %}
        </a>
        {% endif %}
        {% if block.imageCaption|length > 0 %}
            <figcaption class="w-full mt-2">
                {{ block.imageCaption }}
            </figcaption>
        {% endif %}
    </figure>
</div>
