{% if block.imageAspectRatio == 'custom' %}
    {# use imageWideLarge as the base, but change the width/height to the custom size #}
    {% set imageTransform = {
        transform: 'imageWideLarge',
        width: block.customImageDimensions.imageWidth,
        height: block.customImageDimensions.imageHeight,
    } %}
{% else %}
    {# @todo-craft adjust the maximum width to match the design maximum width #}
    {# 1280 is the maximum width of the whole content grid minus the padding (32x2), 12 is the number of columns #}
    {% set blockWidth = block.blockWidth * (1280 - 64) / 12 %}
    {% set imageTransform = 'image' ~ block.imageAspectRatio | title ~ (blockWidth <= 720 ? 'Small' : 'Large') %}
{% endif %}

{% switch block.imageHorizontalAlignment | default('center') %}
    {% case 'left' %}
        {% set flexJustify = 'justify-start' %}
    {% case 'right' %}
        {% set flexJustify = 'justify-end-safe' %}
    {% default %}
        {% set flexJustify = 'justify-center' %}
{% endswitch %}
{% switch block.imageVerticalAlignment | default('center') %}
    {% case 'top' %}
        {% set flexItems = 'items-start' %}
    {% case 'bottom' %}
        {% set flexItems = 'items-end-safe' %}
    {% default %}
        {% set flexItems = 'items-center' %}
{% endswitch %}

{% set wrapperClasses %}
flex {{ flexJustify }} {{ flexItems }} {{ blockWidth(block) }}
{% endset %}

{% set figureClasses = [] %}
{% if block.fullWidth %}
    {% set figureClasses = figureClasses | merge(['w-full']) %}
{% endif %}
{% if block.limitMobileWidth %}
    {% set figureClasses = figureClasses | merge(['max-w-lg blocks-wrap:max-w-none']) %}
{% endif %}
{% set figureClasses = figureClasses | merge(block.classes | explodeClass) %}

<div class="{{ wrapperClasses }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <figure class="{{ figureClasses | join(' ') }}">
        {% if block.imageLink %}
            <a href="{{ block.imageLink }}">
        {% endif %}

        {{ image(block.image.one(), imageTransform, { class: (block.fullWidth ? ' w-full') }) }}

        {% if block.imageLink %}
            </a>
        {% endif %}

        {% if block.imageCaption %}
            <figcaption class="{% if block.fullWidth %}w-full {% endif %}mt-2">
                {{ block.imageCaption }}
            </figcaption>
        {% endif %}
    </figure>
</div>
