{% set image = block.image.one() %}
{% set imageSize = block.imageSize|default('imagesmall') %}
{% set imageAlign = block.imageAlign|default('center') %}
{% set imageVerticalAlignment = verticalAlignCenter|default('center') %}

{% switch imageSize %}
{% case 'large' %}
    {% set imageTransform = 'imagelarge' %}
{% case 'medium' %}
    {% set imageTransform = 'imagemedium' %}
{% default %}
    {% set imageTransform = 'imagesmall' %}
{% endswitch %}

{% switch imageAlign %}
{% case 'left' %}
    {# tw: justify-start #}
    {% set flexJustify = 'start' %}
{% case 'right' %}
    {# tw: justify-end #}
    {% set flexJustify = 'end' %}
{% default %}
    {# tw: justify-center #}
    {% set flexJustify = 'center' %}
{% endswitch %}
{# tw: items-start, items-end, items-center #}
{% set flexItems = imageVerticalAlignment %}

<div class="flex flex-wrap
        justify-{{ flexJustify }} items-{{ flexItems }} col-span-12 md:col-span-{{ width }}"
    {% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <figure>
        {% if block.imageLink %}
        <a href="{{ block.imageLink }}">
            {% endif %}
            {{ image(image, imageTransform) }}
            {% if block.imageLink %}
        </a>
        {% endif %}
        {% if block.imageCaption|length > 0 %}
            <figcaption class="w-full mt-2">
                {{ block.imageCaption }}
            </figcaption>
        {% endif %}
    </figure>
</div>
