{% set image = block.image.one() %}
{% set imageSize = imageSize|default('imageSmall') %}
{% set imageAlign = imageAlign|default('center') %}
{% set imageVerticalAlignment = imageVerticalAlignment|default('center') %}
{% set imageClasses = imageClasses|default() %}

{% switch imageSize %}
    {% case 'large' %}
        {% set imageTransform = 'imageLarge' %}
    {% case 'medium' %}
        {% set imageTransform = 'imageMedium' %}
    {% default %}
        {% set imageTransform = 'imageSmall' %}
{% endswitch %}

{% switch imageAlign %}
    {% case 'left' %}
        {# tw: justify-start #}
        {% set flexJustify = 'start' %}
    {% case 'right' %}
        {# tw: justify-end #}
        {% set flexJustify = 'end' %}
    {% default %}
        {# tw: justify-center #}
        {% set flexJustify = 'center' %}
{% endswitch %}
{# tw: items-start, items-end, items-center #}
{% set flexItems = imageVerticalAlignment %}

<div class="flex flex-wrap
        justify-{{ flexJustify }} items-{{ flexItems }} col-span-12 md:col-span-{{ width }}"
    {% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    <figure>
        {% if block.imageLink %}
        <a href="{{ block.imageLink }}">
            {% endif %}
            {{ image(image, imageTransform, { class: imageClasses }) }}
            {% if block.imageLink %}
        </a>
        {% endif %}
        {% if block.imageCaption|length > 0 %}
            <figcaption class="w-full mt-2">
                {{ block.imageCaption }}
            </figcaption>
        {% endif %}
    </figure>
</div>
