{# separate div wrapper so column doesn't mess with embed-wrap #}
<div class="{{ blockWidth(block) }} {{ block.classes }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% set image = block.image.one() %}
    {% if image %}
        <button type="button" class="embed-wrap block" onclick="this.nextElementSibling.style.display = 'block'; this.style.display = 'none';">
            {{ image(image, 'videoThumbnail') }}
        </button>
    {% endif %}
    <div class="{% if image %}hidden {% endif %} embed-wrap max-w-3xl">
        <div class="embed-container embed-container-16-9">
            {% if block.videoEmbedType == 'oembed' %}
                {{ block.videoOembed.render() }}
            {% elseif block.videoEmbedType == 'iframe' %}
                {{ block.videoIframe | raw }}
            {% endif %}
        </div>
    </div>
</div>
