{# separate div wrapper so column doesn't mess with embed-wrap #}
<div class="{{ blockWidth(block) }} {{ block.classes }}"{% if block.elementId %} id="{{ block.elementId }}"{% endif %}>
    {% set image = block.image.one() %}
    {% if image %}
        <button type="button" class="embed-wrap block" onclick="this.nextElementSibling.style.display = 'block'; this.style.display = 'none';">
            {{ image(image, 'videoThumbnail') }}
        </button>
    {% endif %}

    {% if block.videoEmbedType == 'iframe' %}
        {{ block.videoIframe | raw }}
    {% elseif block.videoEmbedType == 'oembed' %}
        <div class="{% if image %}hidden {% endif %}embed-wrap">
            {% if block.videoOembed.media.width > 0 %}
                {% set proportions = (block.videoOembed.media.height / block.videoOembed.media.width * 100) | round(2) %}
                <div class="embed-container" style="padding-top: {{ proportions }}%;">
            {% else %}
                <div class="embed-container">
            {% endif %}
                {{ block.videoOembed.render() }}
            </div>
        </div>
    {% endif %}
</div>
