<section class="neocolumns-wrap">
    {% for content in block.children.all() %}
        {% switch content.width %}
            {% case '25' %}
                <!-- col: 25% -->
                {% set gridSpanClass = 'col-25' %}
            {% case '33' %}
                <!-- col: 33% -->
                {% set gridSpanClass = 'col-33' %}
            {% case '50' %}
                <!-- col: 50% -->
                {% set gridSpanClass = 'col-50' %}
            {% case '66' %}
                <!-- col: 66% -->
                {% set gridSpanClass = 'col-66' %}
            {% case '75' %}
                <!-- col: 75% -->
                {% set gridSpanClass = 'col-75' %}
            {% case '100' %}
                <!-- col: 100% -->
                {% set gridSpanClass = 'col-100' %}
        {% endswitch %}

        <div class="neocolumn {{ gridSpanClass|default }}">
            {% for subContent in content.children.all() %}
                {% switch subContent.type %}
                    {% case "heading" %}
                        {% include '_includes/neocolumn/_heading.twig' %}
                    {% case 'image' %}
                        {% include '_includes/neocolumn/_image.twig' %}
                    {% case "accordion" %}
                        {% include '_includes/neocolumn/_accordion.twig' %}
                    {% case "imagePair" %}
                        {% include '_includes/neocolumn/_image_pair.twig' %}
                    {% case "imageGrid" %}
                        {% include '_includes/neocolumn/_img_grid.twig' %}
                    {% case 'cards' %}
                        {% include '_includes/neocolumn/_cards.twig' %}

                    {% case 'textBlock' %}
                        <div class="text-block-wrap
                                {% if subContent.textAlignCenter == true %}} text-center{% endif %} lg:text-left">
                            {{ subContent.textBlock }}
                        </div>

                    {% case "button" %}
                        <div class="flex flex-wrap justify-center lg:justify-start gap-8 lg:mt-8{% if subContent.textAlign == "textCenter" %} text-center{% endif %}">
                            {% for block in subContent.button.all() %}
                                <a href="{{ block.buttonLink }}" class="button {% if subContent.textAlign == "textCenter" %}mx-auto{% endif %}">
                                    {{ block.buttonText }}
                                </a>
                            {% endfor %}
                        </div>

                    {% case "video" %}
                        <div class="embed-wrap max-w-3xl">
                            <div class="embed-container embed-container-16-9">
                                {{ subContent.video.render({
                                    width: 640,
                                    height: 400,
                                }) }}
                            </div>
                        </div>

                {% endswitch %}
            {% endfor %}
        </div>
    {% endfor %}
</section>
