<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title_wrap %}{% block page_title %}{% endblock %}{{ siteInformation.companyName }}{% endblock %}</title>

    {% block head %}{% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ rev('build/public.css') }}">
    {% endblock %}
    {% block favicons %}
        {% include '_includes/_favicons.twig' %}
    {% endblock %}

    {% block analytics %}
        {% if craft.app.config.custom.gaTrackingId %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ craft.app.config.custom.gaTrackingId }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ craft.app.config.custom.gaTrackingId }}');
            </script>
        {% endif %}
    {% endblock %}
</head>
<body{% if body_attributes is defined %}{{ body_attributes }}{% endif %}>
{# #app is what Vue.js mounts to #}
<div id="app">
    {% block body %}
        {% block header %}
            <header>
                <div class="flex flex-wrap justify-between items-center w-content"
                     :class="{ 'header-mobile-open': showMobileMenu }">
                    <a href="{{ siteUrl }}">
                        <img src="/images/logo.svg" width="150" height="154" alt="{{ siteInformation.companyName }}">
                    </a>

                    <nav class="w-full lg:w-auto" role="navigation" aria-label="Main">
                        <ul class="flex flex-no-wrap list-none">
                            <li class="header-nav_item">
                                <a href="{{ url('about') }}">About</a>
                            </li>
                            <li class="header-nav_item header-nav_item-products">
                                <a href="/">Products</a>
                            </li>
                            <li class="header-nav_item">
                                <a href="{{ url('contact') }}">Contact</a>
                            </li>

                            <li v-if="!showMobileMenu" class="header-nav_item header-nav_item-toggle">
                                <button type="button"
                                        class="button-link"
                                        @click="toggleMobileMenu">+ More</button>
                            </li>
                            <li v-else class="header-nav_item header-nav_item-toggle">
                                <button type="button"
                                        class="button-link"
                                        @click="toggleMobileMenu">– Less</button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        {% endblock header %}
        {% block content_wrap %}
            <main>
                {% block content %}
                {% endblock content %}
            </main>
        {% endblock content_wrap %}
        {% block footer %}
            <footer class="footer">
                <div class="text-sm">
                    ©{{ 'now'|date('Y') }} {{ siteInformation.companyName }} All Rights Reserved.
                </div>
            </footer>
        {% endblock footer %}
    {% endblock body %}
</div>

{% block javascripts %}
    <script src="{{ rev('build/public.js') }}"></script>

    {% if craft.app.config.general.devMode %}
        <script src="{{ rev('build/svgxuse.min.js') }}"></script>
    {% endif %}
{% endblock %}
</body>
</html>
