<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title_wrap %}{% block page_title %}{% endblock %}{{ siteInformation.companyName }}{% endblock %}</title>

    {% block head %}
        {{ craft.vite.script("public/js/src/public.js", false, { 'defer' : true }) }}
        {{ craft.vite.css('src/styles.js') }}
    {% endblock %}

    {% block favicons %}
        {% include '_includes/_favicons.twig' %}
    {% endblock %}

    {% block analytics %}
        {% if craft.app.config.custom.gaTrackingId %}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ craft.app.config.custom.gaTrackingId }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', '{{ craft.app.config.custom.gaTrackingId }}');
            </script>
        {% endif %}
    {% endblock %}
</head>
<body{% if body_attributes is defined %}{{ body_attributes }}{% endif %}>
<div>
    {% block body %}
        {% block header %}
            <header>
                <div class="flex flex-wrap justify-between items-center w-content">
                    <a href="{{ siteUrl }}">
                        <img src="/images/logo.svg" width="150" height="154" alt="{{ siteInformation.companyName }}">
                    </a>

                    <div id="menu"></div>

                    <svg class="social-icon">
                        <use xlink:href="{{ craft.vite.asset("/images/icons-public.svg") }}#social-instagram"></use>
                    </svg>

                </div>
            </header>
        {% endblock header %}
        {% block content_wrap %}
            <main>
                {% block content %}
                {% endblock content %}
            </main>
        {% endblock content_wrap %}
        {% block footer %}
            <footer class="footer">
                <div class="text-sm">
                    ©{{ 'now'|date('Y') }} {{ siteInformation.companyName }} All Rights Reserved.
                </div>
            </footer>
        {% endblock footer %}
    {% endblock body %}
</div>

{% block javascripts %}
    {% if craft.vite.devServerRunning() %}
        <script defer src="/js/svgxuse.min.js"></script>
{#        {{ craft.vite.asset("assets/svgxuse.min.js") }}#}
    {% endif %}
{% endblock %}
</body>
</html>

